<div class="container">
  <div class="text-center">
    <h2><%= @restaurant.name %></h2>
    <h3><%= @restaurant.address %></h3>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category %></p>
    <%= link_to "Edit this resturant info", edit_restaurant_path %>

    <%= link_to "Write a review for #{@restaurant.name}", new_restaurant_review_path(@restaurant) %>
  </div>
</div>
