<h2><%= @restaurant.name %></h2>
<h3><%= @review.content %></h3>
<p><%= @review.rating %></p>
 <%= link_to "Return to the resturant's main page", restaurant_path(id: @restaurant.id) %>

<h2>Write a new review for <%= @restaurant.name %></h2>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
